<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
		<add name="UnclaimedWA" connectionString="Data Source=LAPTOP-BI1MOETA;Initial Catalog=UnclaimedWA;Integrated Security=True"/>
		<!--                      Excel Connection for 64 bit                  -->
		<add name="ExcelConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;Driver={Microsoft Excel Driver(*.xlsx)};DBQ=xlsx HDR={1}'"
                   providerName="System.Data.OleDb"/>
	</connectionStrings>
</configuration>